@font-face {
  font-family: "WavvePADO-Regular";
  src: url("/WavvePADO-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "D2Coding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/assets/font/NotoSansKR-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
